@import url(../css/header.css);
@import url(../css/breadCrumb.css);
@import url(../css/main-right.css);
@import url(../css/comment.css);
@import url(../css/footer.css);

.content-detail {
    margin-bottom: 60px;
}
.content-detail h2 {
    font: 18pt 'Roboto Regular';
    font-weight: 600;
    margin-bottom: 7px;
}
.content-detail p {
    color: #636363;
    font: 10.37pt 'Roboto Regular';
    line-height: 23px;
    text-align: justify;
    margin: 20px 0;
}
.time {
    color: #959595;
    font: 13px 'Roboto Regular';
    margin-left: 5px;
    vertical-align: middle;
}
.fa-clock {
    background-color: #959595;
    border: 1px solid #959595;
    border-radius: 50%;
    color: #fff;
    font-size: 9px;
    padding: .55px;
}
.frame-img-detail-news,
.frame-img-detail-news img {
    margin: auto;
    max-width: 600px;
}

@media only screen and (max-width: 1169px){
    .container-left {
        margin: auto;
    }
    .container-left {
        padding: 0 15px;
    }
}
@media only screen and (max-width:600px) {
    .frame-img-detail-news,
    .frame-img-detail-news img {
        width: 500px;
    }
}
@media only screen and (max-width:480px) {
    .frame-img-detail-news,
    .frame-img-detail-news img {
        width: 320px;
    }
}
@media only screen and (max-width:320px) {
    .frame-img-detail-news,
    .frame-img-detail-news img {
        width: 280px;
    }
}
@media only screen and (max-width:280px) {
    .frame-img-detail-news,
    .frame-img-detail-news img {
        width: 210px;
    }
}